<div class="card h-100">
    <div class="card-header">
        <h3 class="card-title">Images</h3>
    </div>
    <div class="card-body">
        <div class="d-flex fleex-md-roe flex-sm-column flex-wrap">
            <div class="col-8 p-4">

            </div>
            <div class="col-4 p-4 bg-light" >
                <h5>Upload image</h5>

                <form>
                    <div class="mnt-3">
                        <input type="file" class="form-control">
                    </div>
                    <div>
                        <input type="text" class="form-control" placeholder="file-name">
                    </div>
                    <div>
                        <input type="text" class="form-control" placeholder="tittle">
                    </div>

                    <div>
                        <button type="submit">
                            upload
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>